/*
To include the styles in your file, include the following tag inside the <head> tag

<link rel="stylesheet" type="text/css" href="styles.css">
*/

/*zebra-stripes tables*/
tr:nth-child(even) {background-color: #C0C0C0;}

/*table borders and alignments*/
table{    
    border: 5px solid #0F0F88	;
    text-align: left;
}

/*table data*/
td{
	border: 1px solid #0F0F88	;
	text-align: left;
	font-size: 12px;
}

/*table header*/
th{
	background-color: #696969;
	color: maroon;
	font-size: 14px;
}

a:hover { 
    background-color: yellow;
}

/*defines a paragraph, use for error messages*/
p{
	font-size: 12px;
	color: red;
}

.buttonstyle{
    background-color: #000080;
    background-image: -moz-linear-gradient(top,#33A1C9,#000080);
    background-image: -webkit-linear-gradient(top,#33A1C9,#000080);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#33A1C9),color-stop(1,#000080));
    background-image: linear-gradient(top,#33A1C9,#000080);
    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 13px;
    line-height: 1.54;
    padding: 7px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.08);
}
